<% form_for @user, :url => admin? ? @user : user_path(@user.access_token) do |form| %>
  <div class='field'>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%if @current_user == @user %>
    <div class='field'>
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>
  <% end %>
  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>