- content_tag_for :article, post do
  %h2= link_to post.title, post
  %p= post.created_at
  = sanitize(textilize(post.content.to_s))
  .tags
  
    - post.tags.each do |tag|
      = link_to tag.name, tag
  - if admin?
    %p
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Delete', delete_post_path(post)
