- div_for post do
  %h2= link_to post.title, post
  %p= post.created_at
  = post.content
  .tags
    - post.tags.each do |tag|
      = link_to tag.name, tag
  - if admin?
    %p
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
